<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="syahputro.bimo.projek.dinas.p3a">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ActivityLupaSandi"></activity>
        <activity android:name=".activity.ActivityBantuan" />
        <activity android:name=".activity.ActivityArtikelAll" />
        <activity android:name=".activity.ActivityStatistik" />
        <activity android:name=".activity.ActivityRiwayat" />
        <activity android:name=".activity.ActivityProfilDinas" />
        <activity android:name=".activity.ActivityPengaduan" />
        <activity android:name=".activity.ActivityHalamanUtama" />
        <activity android:name=".activity.ActivityUser" />
        <activity android:name=".activity.ActivityArticle" />
        <activity android:name=".activity.ActivityArticleDetailVideo" />
        <activity android:name=".activity.ActivityArticleDetail" />
        <activity android:name=".activity.ActivityRegister" />
        <activity
            android:name=".activity.ActivityLogin"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>